body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

/* Theme */

/* Dark Mode */

.dark {
  background: #141a22;
  color: #b4c0d4;
}

.dark .drop-content {
  background: #141a22;
}

.dark h1 {
  color: #66d7f7;
}

.dark h2,
.dark h3,
.dark h4 {
  color: #398cc2;
}

.dark .cite,
.dark .text-link,
.dark .log-in-link {
  color: #66d7f7;
}

.dark button,
.dark .drop-content #show,
.dark .form Input,
.dark .submit-input input,
.dark .link,
.dark .search input {
  border: 2px solid #398cc2;
  background-color: #141a22;
  color: #66d7f7;
}

.dark .nav-user,
.dark .user-profile h2 {
  color: #66d7f7;
}

.dark img,
.dark main.user-profile section.user-banner img {
  border: 2px solid #398cc2;
  outline-offset: 5px;
}

.dark button:hover,
.dark button:focus,
.dark .drop-content #show:hover,
.dark .drop-content #show:focus,
.dark .link {
  outline: solid #398cc2;
}

.dark main.log-in .log-in-container,
.dark main.welcome-page .demo-list ul li img {
  background: #20262eaf;
}

/* Light Mode */

.light {
  background-color: #f3f3e3;
  color: #354230;
}

.light .drop-content {
  background: #f3f3e3;
}

.light h1,
.light .user-profile h2 {
  color: #74b72e;
}

.light h2,
.light h3,
.light h4,
.light .nav-user,
.light .log-in-link {
  color: #466d1d;
}

.light button,
.light .drop-content #show,
.light .form Input,
.light .submit-input input,
.light .link,
.light .search input {
  border: 2px solid #466d1d;
  background-color: #f3f3e3;
  color: #466d1d;
}

.light button:hover,
.light button:focus,
.light .drop-content #show:hover,
.light .drop-content #show:focus,
.light .link {
  outline: solid #74b72e;
}

.light img,
.light main.user-profile section.user-banner img {
  border: 2px solid #466d1d;
  outline-offset: 5px;
}

.light main.log-in .log-in-container,
.light main.welcome-page .demo-list ul li img {
  background: #e7e7d3;
}

.light .cite,
.light .text-link {
  color: #74b72e;
}

/* General Elements */

button,
.drop-content #show,
.link {
  text-decoration: none;
  font-weight: 700;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 5px;
}

.drop-content > * {
  min-width: 150px;
  text-align: center;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

button:hover,
button:focus,
.drop-content #show,
.link:hover {
  outline-offset: 5px;
}

.collapse {
  margin: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

/* Landing Page */

main.landing-page {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main.landing-page .landing-banner {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5rem;
  border-radius: 50px
}

main.landing-page .landing-banner h2 {
  font-size: 3rem;
  animation: fade-in 1s linear 1s forwards;
  opacity: 0;
  text-transform: uppercase;
  margin: 0;
}

main.landing-page .landing-banner p {
  font-size: 1.5rem;
  animation: fade-in 1s linear 3s forwards;
  opacity: 0;
  width: 60vw;
  text-align: center;
  line-height: 1.5rem;
}

main.landing-page .landing-banner .button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  animation: fade-in 1s linear 5s forwards;
  opacity: 0;
}

main.landing-page .landing-banner .button-container button {
    padding: 1rem;
    width: 150px;
}

button {
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navigation */

.right-nav-search {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  gap: 10px;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.right-nav button,
.nav-user {
  margin-bottom: 10px;
}

.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.left-nav button {
  min-width: 80px;
}

.nav-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
}

.nav-img-avatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin: 3px;
}

.nav-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.drop-btn {
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-right: 2em;
}

.drop-content #show {
  margin-bottom: 20px;
}

#hide,
.hide {
  display: none;
}

#show,
.show {
  display: block;
  animation: fade-in 1s linear forwards;
}

/* Header */

header {
  /* background-color: rgb(35, 35, 68);
  color: rgb(169, 169, 236);
  height: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

/* header .header-buttons {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-buttons button {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(190, 200, 233);
} */

header h1 {
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-size: 5rem;
  margin: 0;
}

header h2 {
  margin: 0;
  font-weight: 900;
}

header .header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* header .header-text h1 {
  margin: 1rem;
  font-size: 3rem;
} */

/* Welcome Page */

main.welcome-page {
  /* background: rgb(169, 169, 236);
  color: rgb(35, 35, 68); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
}

main.welcome-page h1,
main.welcome-page h2,
.create-profile-container h3 {
  text-transform: uppercase;
}

main.welcome-page h2 {
  font-style: italic;
}

.welcome-page p {
  line-height: 1rem;
}

.create-profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

/* main.welcome-page .create-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.demo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main.welcome-page .demo-list ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 1em;
}

main.welcome-page .demo-list ul li img {
  height: 30vh;
  width: 30vw;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s linear;
  border-radius: 20px;
  animation: inLeft forwards 0.5s linear 1s;
  opacity: 0;
}

main.welcome-page .demo-list ul li img:hover {
  transform: scale(1.25);
}

main.welcome-page .demo-list ul li section {
  animation: inRight forwards 0.5s linear 2s;
  opacity: 0;
}

main.welcome-page .demo-list ul li section p,
main.welcome-page .demo-list ul li section h2 {
  width: 50vw;
  margin-right: 10px;
}

@keyframes inRight {
  0%{
    opacity: 0;
    transform: translateX(100vw);
  } 100%{
    opacity: 1;
    transform: translateX(0vw);
  }
}

@keyframes inLeft {
  0%{
    opacity: 0;
    transform: translateX(-100vw);
  } 100%{
    opacity: 1;
    transform: translateX(0vw);
  }
}

/* Search Bar */

.search {
  min-width: 100px;
}

.search input {
  height: 25px;
  text-align: center;
  font-size: 1rem;
}

.search button {
  margin-left: 0.5rem;
}

.search .search-result {
  padding: 1rem 0;
}

.search .search-result .search-link {
  opacity: 0;
  animation: fade-in 1s linear forwards;
}

/* Log In Page */

main.log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
  /* color: rgb(35, 35, 68); */
}

.log-in h3,
.logging-in-container h2 {
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.log-in h4,
.log-in h5,
.logging-in-container h5 {
  text-transform: uppercase;
  text-align: center;
}

main.log-in .log-in-container,
.logging-in-container {
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  margin-top: 5vh;
  padding: 2rem;
  border-radius: 20px;
  /* background: rgb(51, 51, 97);
  color: rgb(221, 209, 241); */
}

.submit-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

main.log-in .log-in-container form {
  margin: 2rem;
}

main.log-in .log-in-container form input {
  text-align: center;
  height: 30px;
  width: 200px;
}

main.log-in .log-in-container .log-in-button {
  min-width: 75px;
}

/* main.log-in .log-in-container form button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
} */

main.log-in .log-in-container .example-text {
  text-align: center;
}

main.log-in .disclaimer-text {
  margin: 2rem;
}

main.log-in .disclaimer-text h4 {
  font-size: 1.5rem;
}

/* User Profile */

main.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.user-profile section.user-banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  padding: 1rem;
}

main.user-profile section.user-banner img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}

main.user-profile section.user-banner .profile-text-container {
  /* color: rgb(35, 35, 68); */
  text-align: center;
}

main.user-profile section.user-banner .profile-text-container h2 {
  font-size: 1.5rem;
}

main.user-profile section.user-banner .profile-text-container ul {
  display: flex;
  list-style: none;
}

main.user-profile section.user-banner .profile-text-container ul li {
  margin: 1rem;
}

.portfolio-view-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  gap: 10px;
}

section.profile-data-vis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

section.chart {
  width: 100vw;
}

section.profile-data-vis .user-portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-bottom: 1em;
  text-align: center;
}

.x-tick, .x-label, .y-tick, .y-label {
  color: #466d1d;
}

.user-profile h2 {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

.user-profile h4 {
  text-align: center;
  text-transform: uppercase;
}

.user-portfolio-list {
  text-transform: uppercase;
}

main.user-profile section.user-portfolio-list li {
  list-style-type: none;
  margin: 1em;
}

/* New Portfolio Form*/

.form {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form-confirm ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}

.form h3,
.form-confirm h3 {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
}

.form h4,
.form-confirm h4 {
  text-align: center;
  font-size: 1.5rem;
}

.form form {
  margin: 0rem 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.form form dt {
  margin-top: 2rem;
}

.form Input {
  padding: 2px;
  text-align: center;
}

.form button {
  margin: 3em;
  padding: 1rem;
}

.form-confirm .link {
  margin: 3rem;
}

.form-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form-confirm ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100vw;
  font-size: 1.5rem;
  padding: 0;
}

.form-confirm ul li {
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* News Feed */

main.news-feed {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 0rem;
}

main.news-feed h4 {
  text-align: center;
  width: 98vw;
  font-size: 2rem;
}

main.news-feed ul {
  margin: 0;
  padding: 0;
}

main.news-feed ul .news-feed-card {
  border: black solid;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 50vh;
}

main.news-feed ul .news-feed-card h4 {
  font-size: 1.5rem;
}

main.news-feed ul .news-feed-card img {
  width: 200px;
  height: 200px;
  margin: 0 5vw;
}

main.news-feed ul .news-feed-card p {
  width: 60vw;
  font-size: 1.5rem;
}

main.news-feed ul .news-feed-card a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgb(71, 71, 122);
  color: rgb(216, 219, 231); */
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

/* Info Page */

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-esg-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 2em;
  align-items: center;
}

.info-illustration {
  max-width: 300px;
}

.info-page section h1 {
  font-size: 4rem;
}

.info-page dl {
	height: auto;
	width: auto;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.5s linear;
	border-radius: 20px;
	padding: 2rem;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info-page dl:hover {
  transform: scale(1.02);
}

.info-page h2,
.info-page h1 {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

.info-page .cite {
  text-align: right;
}

.info-page section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.info-page dl {
  font-size: 1rem;
}

.external-link-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

/* Company Info Page */

main.company-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-card img {
  width: 30vw;
  height: auto;
  object-fit: scale-down;
}

main.company-card section.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  min-height: 40vh;
}

main.company-card h2 {
  font-size: 2rem;
  text-align: left;
}

main.company-card section.company-info-text {
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
}

main.company-card section.company-info-text a {
  height: 10vh;
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.company-info-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* main.company-card section.company-info-links {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 2rem;
} */

/* Media Queries */

@media (orientation: landscape) {

  body,
  html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

  main.user-profile section.user-banner .profile-text-container h2 {
    margin: 1rem 3rem;
    font-size: 3rem;
  }

  .profile-data-vis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
  }

  .drop-content > * {
    min-width: 10vw;
  }

  header h1 {
    font-family: "Playfair Display SC", serif;
    font-style: italic;
    font-size: 9rem;
    margin: -4vh 0;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  }

  main.news-feed {
    padding: 2rem;
  }

  main.news-feed h4 {
    width: 94vw;
  }

  section.chart {
    width: 60vw;
  }

  section.profile-data-vis .user-portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-bottom: 1em;
    width: 30vw;
    margin: 0 15vw;
    text-align: center;
  }

  .form form {
    margin: 0rem 0;
    width: 100vw;
  }

  .form-confirm ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100vw;
    font-size: 1.5rem;
    padding: 0;
  }

  .form-confirm ul li {
    width: 100vw;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .external-link-container {
    flex-direction: row;
  }
}
